.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.joystick {
    width: 250px;
    height: 250px;
    margin: 25px 50px; /* top/bottom | left/right */
}
.joystickLabel {
    text-align: center;
    margin: 0px;
}
body {
    /* Font/Text */
    font-size: 18px;
    line-height: 1.6;

    /* Colors */
    color: #444;
    background-color: #eeeeee;
}
